h1 {
  text-align: center;
  font-family: "Lucida Console", "Courier New", monospace;
}
body {
  background-image: url("img/sfondo.jpg");
  background-size: cover; /* Per adattare l'immagine allo schermo */
  background-repeat: no-repeat; /* Evita che l'immagine si ripeta */
  background-attachment: fixed; /* Fissa l'immagine di sfondo */
}


        
#inserimento {
  border: solid 3px;
  border-color: black;
  background-image: url("img/sfondo.jpg");
  opacity: 0.8; /* Imposta il livello di trasparenza */
}

img{
  width: 100%;
  height: 100%;
 }

.select {
  padding-left: 3%;
  padding-right: 3%;

}

button {
  float: right;
  margin-right: 7%;
  font-size: 16px; 
  
}


li {
  display: inline-flex;
}

table {
  border-top: 2%;
  padding: 1%;
  width: 100%;
  max-width: 100%; 
  overflow-x: auto; 
  border-collapse: collapse; 
  table-layout: fixed; 
  text-align: center;
  margin-left: 3%;
  margin-right: 3%;

}

#table1{
  margin-inline-start: auto;
  margin-block-start: auto;
  margin-top: 3%;
  border: 2px solid black;
  margin-left: 3%;
  margin-right: 3%;

}

th, td {
  border: 1px solid black;
  padding: 1%; 
  text-align: center; 
  word-wrap: break-word; 
}
